html {
        background: url(bg.jpg) no-repeat center fixed;
        background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50; /*Green*/
}
.active2 {
  background-color: gold;
  color: black;
}
.active1 {
  background-color: #FF00FF; /*Fuchsia*/
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: white;
}

h2 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: white;
}   
label {
  font: 24px arial black, serif;
  #font-size: 24px;
  font-weight: 900;
  color: white;
}
.row {
  display: flex;
  justify-content:flex-start;
  
}

.column {
  flex: 0 1 auto;
  margin-right: 10px;
}


.button {
  background-color: #FF00FF; /* Fushsia */
  border: 1px solid black;
  color: white;
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: block;
  width: 175px;
  cursor: pointer;
}

.button2 {
  background-color: gold; /*Gold*/
  border: 1px solid black;
  color: black;
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 175px;
  font-size: 16px;
  cursor: pointer;
}
.button3 {
  background-color: green; /* Green */
  border: 1px solid black;
  color: white;
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 175px;
  font-size: 16px;
  cursor: pointer;
  /*margin: 10px;*/
}

.column2 {
  column-count: 2;
}
.onoffswitch {
    position: relative; width: 108px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Amp ON";
    padding-left: 10px;
    background-color: green; color: ;
}
.onoffswitch-inner:after {
    content: "Amp OFF";
    padding-right: 10px;
    background-color: #FF00FF; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 74px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
